* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;
}


/* Main Card */

.pan-card {
    width: 650px;
    height: 400px;

    background: linear-gradient(
        135deg,
        #d9eaff,
        #b9d9f5,
        #e1c9f2
    );

    border-radius: 15px;
    border: 2px solid #777;

    padding: 22px;

    box-shadow: 0 10px 25px gray;

    position: relative;

    overflow: hidden;
}


/* Top */

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    border-bottom: 1px solid #777;

    padding-bottom: 8px;
}


/* Income Tax */

.income {
    text-align: left;
}

.income p {
    font-size: 16px;
    font-weight: bold;
}

.income h3 {
    font-size: 13px;
    margin-top: 3px;
}


/* Middle Emblem */

.emblem {
    text-align: center;
    font-size: 35px;
}

.emblem span {
    font-size: 32px;
}


/* Government */

.govt {
    text-align: right;
}

.govt p {
    font-size: 16px;
    font-weight: bold;
}

.govt h3 {
    font-size: 13px;
    margin-top: 3px;
}


/* QR */

.qr {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}
.qr img {
    width: 65px;
    height: 65px;
    object-fit: contain;
    background: white;
    border: 2px solid black;
}

.qr-box {
    width: 65px;
    height: 65px;

    background: white;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: monospace;
    font-size: 18px;
}


/* Card Title */

.card-title {
    text-align: center;
    margin-top: 8px;
}

.card-title p {
    font-size: 14px;
    font-weight: bold;
}

.card-title h3 {
    font-size: 13px;
    margin-top: 2px;
}


/* Content */

.content {
    display: flex;
    gap: 20px;

    margin-top: 18px;
}


/* Photo */

.photo {
    width: 120px;
    height: 145px;

    background: white;

    border: 2px solid #777;

    display: flex;
    justify-content: center;
    align-items: center;

    color: gray;
    font-size: 13px;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Details */

.details {
    flex: 1;
}

.label {
    font-size: 10px;
    color: #555;
    margin-top: 3px;
}

.details h2 {
    margin-top: 3px;
    margin-bottom: 8px;
}

.details h3 {
    font-size: 16px;
    margin-bottom: 8px;
}


/* PAN Number */

.pan-number {
    font-family: monospace;
    letter-spacing: 3px;
}


/* Right Side */

.right-side {
    width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




/* Signature */

.signature {
    font-family: cursive;
    font-size: 18px;

    border-bottom: 1px solid black;

    padding-bottom: 3px;
    bottom: 15px;
    right: 22px;
    
    position: absolute;
    display: flex;
    justify-content: space-between;
}


